:root {
  --colorDarkCyan: #18A1AE;
  --colorVeryDarkBlue: #2D3248;
  --colorDarkGraBlue: #696E81;
  --colorDarkGray: #969696;
  --colorWhite: #FFFFFF;
  font-size: 18px;
}

body {
  background: var(--colorDarkCyan);
  font-family: 'Kumbh Sans';
  text-align: center;
  z-index: 1;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.background-top__img img{
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: 50vw;
  height: 50vh;
  margin: 0; 
  background: var(--colorDarkCyan);
  z-index: 2;
}

.main {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  text-align: center;
  background: var(--colorWhite);
  border-radius: 30px;  
  box-shadow: 5px 10px 8px gray;
  width: 30vw;
  height: 50vh;
  z-index: 99;
}

.hero {
  background-image: url('images/hero.svg');
  width:100%;
  height: 20vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.profile-item__img img {
  border: 20px solid var(--colorWhite);
  border-radius: 50%;
  width: 15vw;
  height: 17vh;
  margin: -120px 0px 0px;
}

.content-profile {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.content-profile .name {
  font-weight: 700;
}

.content-profile .age {
  color: var(--colorDarkGraBlue);
  font-weight: 400;
  margin: 15px;
}

.content .city {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--colorDarkGraBlue);
}

.content-statistics {
  border-top: 3px solid var(--colorDarkGraBlue);
}

.statistics-list {
  list-style: none;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 2rem 1.5rem;
  gap: 2rem;
}

.content-statistics__item .num {
  font-size: 1.1rem;
  font-weight: 700; 
}

.content-statistics__item .title {
  color: var(--colorDarkGraBlue);
  font-size: 0.6rem;
  font-weight: 400; 
}
.background-bottom__img img{
  position: absolute;
  background: var(--colorDarkCyan);
  bottom: -10rem;
  right: -10rem;
  width: 50vw;
  height: 50vh;
  margin: 0;
}