:root {
  --colorDarkCyan: #18A1AE;
  --colorVeryDarkBlue: #2D3248;
  --colorDarkGraBlue: #696E81;
  --colorDarkGray: #969696;
  --colorWhite: #FFFFFF;
  font-size: 18px;
  background: var(--colorDarkCyan);
}

body {
  background: var(--colorDarkCyan);
  font-family: 'Kumbh Sans';
  text-align: center;
}

.hero {
  background-image: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/578bac0d-d49c-4621-a0a4-47b04d3b0b0e/bg-pattern-card.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T182846Z&X-Amz-Expires=86400&X-Amz-Signature=d4929f64aa9107803cd1b0cd906328a5943b44bb2ec7bdae35355965ca9b8113&X-Amz-SignedHeaders=host');
  width:100%;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.statistics-list {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.main {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  text-align: center;
  background: var(--colorWhite);
  border-radius: 30px;
  z-index: 1;
  box-shadow: 5px 10px 8px gray;
  width: 400px;
  height: 550px;
}

.profile-item__img img {
  border: 15px solid #969696;
  border-radius: 50%;
  width: 40%;
  height: 100%;
  margin: -100px 0px 0px;
}

.content-profile .name {
  font-weight: 700;
}

.content-profile {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.content-profile .age {
  font-weight: 400;
  margin: 15px;
  /*background: red;*/
}

.content .city {
  font-weight: 400;
}

.content-statistics {
  border-top: 3px solid gray;
}

.content-statistics__item .title {
  font-weight: 700; 
}

.content-statistics__item .num {
  font-weight: 400; 
}

.statistics-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 2rem 3rem;
}

.content-statistics__item .title {
  font-size: 25px;
}

.circulo_1 {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgba(150,150,150,0), rgba(150,150,150,1));
}

.circulo_2 {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(45,50,72,1));
}